In [ ]:
9pm - 11:30pm
Theory till 11 and doubts till 11:30
Tues Thurs Sat
10 - 12 mins of break

In [ ]:
- Intro to Python and it's Syntax
- Data Types
- Operators
- if else
- Loop
- Strings
- Lists
- Tuples, Dict. Sets

In [ ]:
Python IDE
- Pycharm
- Jupyter Notebook () Best new programmer
- VS code

In [2]:
print(23)

23

In [3]:
print(34)

34

In [5]:
pleasePrintMyData("Hello World")

NameError: name 'pleasePrintMyData' is not defined

In [6]:
print("Pranav")

Pranav

In [ ]:
Python is Case sensitive

In [7]:
Print("Khandelwal")

NameError: name 'Print' is not defined

In [8]:
print("Hi, I'm pranav welcome to scaler")

Hi, I'm pranav welcome to scaler

In [9]:
print("kwjfkjbfkljbfjwkblj76689879879sjhbjsdbjkshbdf")

kwjfkjbfkljbfjwkblj76689879879sjhbjsdbjkshbdf

In [10]:
print(Pranav)

NameError: name 'Pranav' is not defined

In [11]:
print('kwjfkjbfkljbfjwkblj76689879879sjhbjsdbjkshbdf')

kwjfkjbfkljbfjwkblj76689879879sjhbjsdbjkshbdf

In [12]:
print('this is single quote data')

this is single quote data

In [13]:
print(10 + 20)

30

In [14]:
print(10-20)

-10

In [15]:
# quiz 1
print("10")

10

In [16]:
print("120")

120

In [63]:
# Anything that you write in double/single quotes is printed as it is

In [17]:
print("10+10")

10+10

In [18]:
print(10+20)

30

In [19]:
print(10 + 20)

30

### Primitive Data Types in Python
These are the most primitive or the basic data structures. They are the building blocks for data manipulation
and contain pure, simple values of a data. Python has four primitive variable types:
1. Integers
2. Float
3. Strings
4. Boolean

In [20]:
print(type(5))

<class 'int'>

In [21]:
print(type(124))

<class 'int'>

In [22]:
print(type(-44))

<class 'int'>

In [23]:
print(type(-5.5))

<class 'float'>

In [24]:
print(type(789.56))

<class 'float'>

In [25]:
print(type("What's the type for this data"))

<class 'str'>

In [27]:
print(type("102dl;kjfvndilohgvildfrujshbvcfejkwhgfuegfkejuyfgyjkure"))

<class 'str'>

In [29]:
print(type('456dso;ifjeiuhfudeihfr'))

<class 'str'>

In [30]:
print(type(""))

<class 'str'>

In [31]:
print(type(True))

<class 'bool'>

In [32]:
print(type(False))

<class 'bool'>

In [33]:
print(type(0))

<class 'int'>

In [34]:
print(type(false))

NameError: name 'false' is not defined

In [35]:
print(type(None))

<class 'NoneType'>

In [36]:
print(type(none))

NameError: name 'none' is not defined

### Variables

In [37]:
print(10 + 20)

30

In [38]:
print(123 + 678)

801

In [39]:
print(23 + 67)

90

In [41]:
x = 20
y = 34
print(x+y)

54

In [42]:
name = "Pranav khandelwal"

In [43]:
print(name)

Pranav khandelwal

In [45]:
x = 5
print(type(x))

<class 'int'>

In [47]:
y = "pranav"
print(type(y))

<class 'str'>

### Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [48]:
y1r = "test"

In [49]:
_y = 45

In [50]:
1a = 56

SyntaxError: invalid syntax (516087811.py, line 1)

In [51]:
_R = 56

In [52]:
a4b = "scaler"

In [53]:
a$b = "scaler"

SyntaxError: invalid syntax (3381405377.py, line 1)

In [55]:
_123 = "test" # you should not do it

In [56]:
_alone = "alone"

In [57]:
age = 12

In [58]:
AGE = 13

In [59]:
print(age)
print(AGE)

12
13

In [60]:
AgE = 45

In [61]:
print(AgE)

45

In [64]:
# comments
# if you write # then anything you right after it python will not read it
# this is line
# this another line

In [66]:
val = """
this is also a way to write
string in multine 
situation
"""

In [67]:
print(type(val))

<class 'str'>

In [68]:
# input

In [69]:
a = 20
b = 40
print(a + b)

60

In [74]:
name = input("Please provide the name ")

Please provide the name Pranav

In [75]:
print(name)

Pranav

In [78]:
a = input("Please provide the value for variable a ")
b = input("Please provide the value for variable b ")
print(a)
print(b)

Please provide the value for variable a monkey
Please provide the value for variable b scaler
monkey
scaler

In [76]:
print(type(name))

<class 'str'>

In [77]:
print(type(a)) # output for this ?

<class 'str'>

In [79]:
a = input("Please provide the value for variable a ")
b = input("Please provide the value for variable b ")
print(a+b)

Please provide the value for variable a 20
Please provide the value for variable b 40
2040

In [81]:
a = "Hello "
b = "World"
print(a + b)

Hello World

In [83]:
a = input("Please provide the value for variable a ")
b = input("Please provide the value for variable b ")
x = int(a) # type casting str -> int
y = int(b) # type casting str -> int
print(x+y)

Please provide the value for variable a 12
Please provide the value for variable b 23
35