In [7]:
# Ques

In [44]:
l1 = [1,2,3]
l2 = [4,5,6]

In [45]:
# output -> [1,2,3,4,5,6]

In [46]:
"Hello" + "World"

'HelloWorld'

In [47]:
2 + 3

5

In [48]:
print(type(l1))

<class 'list'>

In [49]:
l3 = l1 + l2

In [50]:
l3

[1, 2, 3, 4, 5, 6]

In [51]:
# Ques 2
l1 = [1,2,3]
l2 = [4,5,6]

In [52]:
# output -> [1,2,3,6,5,4]

In [53]:
# Approach -> Add l1 and reverse of l2

In [54]:
l3 = l1 + l2[::-1]

In [55]:
l3

[1, 2, 3, 6, 5, 4]

In [56]:
l2

[4, 5, 6]

In [57]:
reverse_l2 = l2[::-1]

In [58]:
reverse_l2

[6, 5, 4]

In [59]:
l2

[4, 5, 6]

In [60]:
l2.reverse()

In [61]:
l2

[6, 5, 4]

In [62]:
# del vs pop
# reverse vs slicing

In [63]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [64]:
l1 + l2

[1, 2, 3, 6, 5, 4]

In [65]:
# Extend

In [66]:
print(l1 + l2)
print(l1)
print(l2)

[1, 2, 3, 6, 5, 4]
[1, 2, 3]
[6, 5, 4]

In [67]:
# Add the element of l2 in l1

In [68]:
l1.extend(l2) # inplace changes

In [69]:
l1

[1, 2, 3, 6, 5, 4]

In [70]:
l2 # is l2 changes ?

[6, 5, 4]

In [71]:
# def (self, A) # you'll study in OOP

In [74]:
l1 = l1 + l2 # Space complexity

In [76]:
# Quiz 1
l = [1, 2, 3, 4]
l.reverse() # l = [4,3,2,1]
l.append(5) # l = [4,3,2,1,5]
print(l)

[4, 3, 2, 1, 5]

In [77]:
# Quiz 2
l = []
odi = [120, 30, 50]
l.extend(odi) # values of odi will be appended to l -> l [120,30,50]
print(l)

[120, 30, 50]

In [78]:
# Quiz 3
l = [10, 2, 5, 3, 6]
print(l[-1:0:-2])

[6, 5]

In [79]:
l1 = [2,5,7]
l2 = [4,6,8]

In [80]:
l1.append(l2) # what append does ? Add data at the end of list

In [81]:
l1

[2, 5, 7, [4, 6, 8]]

In [85]:
print(l1[1])
print(type(l1[1]))

<class 'int'>

In [86]:
print(l1[2])
print(type(l1[2]))

7
<class 'int'>

In [87]:
print(l1[3])
print(type(l1[3]))

[4, 6, 8]
<class 'list'>

In [89]:
l2 = l1[3]

In [90]:
l2

[4, 6, 8]

In [92]:
print(type(l2[1]))

<class 'int'>

In [93]:
print(l2[1]) # l2 = l1[3]
print(l3[3][1])

6

In [94]:
l1[3].append([9,1])

In [95]:
l1

[2, 5, 7, [4, 6, 8, [9, 1]]]

In [97]:
l1[3]

[4, 6, 8, [9, 1]]

In [98]:
l1[3][3]

[9, 1]

In [99]:
l1[3][3][1]

1

In [100]:
l1.insert(1,[12,15])

In [103]:
l1 # 2D or 3D ? -> 3D

[2, [12, 15], 5, 7, [4, 6, 8, [9, 1]]]

In [104]:
val = [1,[1,[1,[1,[1]]]]] # 5D

In [107]:
mat = [[1,2,3],
       [4,5,6],
       [7,8,9]]

In [108]:
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [109]:
mat[0][2]

3

In [111]:
print(mat[2][1])

8

In [110]:
# create matrix/2D
# access the matrix

In [112]:
# iteration

In [ ]:
# outer loop
for i in range():
    # inner loop
    for j in range():

In [114]:
for i in range(3): # Rows
    print("Value at index",i,mat[i])

Value at index 0 [1, 2, 3]
Value at index 1 [4, 5, 6]
Value at index 2 [7, 8, 9]

In [116]:
for i in mat: # again going along with the row values
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [121]:
for row_values in mat:
    # whole list
    # inner loop iterating over column at each row
    print(row_values)
    for col_value in row_values:
        print(col_value, end = " ")
    print()

[1, 2, 3]
1 2 3
[4, 5, 6]
4 5 6
[7, 8, 9]
7 8 9

In [122]:
# Calculate the sum of matrix

In [123]:
sum_value = 0
for row_values in mat:
    for col_value in row_values:
        sum_value+=col_value

print(sum_value)

45

In [ ]:
n(n+1)/2

In [124]:
9*10/2

45.0

In [125]:
# Find the sum of each row

In [126]:
mat = [[1,2,3], # 6
       [4,5,6], # 15
       [7,8,9]] # 24

In [127]:
# 6 15 24

In [130]:
sum_value = 0
for row in mat:
    # start of my new row
    sum_value = 0
    for col in row:
        sum_value+=col
    # I'm done with current row sum
    # just print that sum
    # and start fresh for new row <- 
    print(sum_value)

6
15
24

In [131]:
# Find max at each row

In [134]:
runs = [[120, 30, 50], # t20
        [200, 248, 100], # odi
        [80, 100, 60]] # test

In [135]:
# 120 248 100

In [139]:
for row in runs:
    print(max(row))

120
248
100

In [138]:
# homework find min at each row

In [144]:
# Find max value in whole matrix (Not allowed to use max function)
# Don't create a new list

In [141]:
runs = [[120, 30, 50], # t20
        [200, 248, 100], # odi
        [80, 100, 60]] # test

In [143]:
# output->248

In [147]:
max_value = runs[0][0]

for row in runs:
    for col in row:
        if col > max_value:
            max_value = col

print(max_value)

248

In [148]:
# Quiz 
nums = [[10, 20, 30], [98, 99]]
print(nums[0][0])

10

In [ ]:
for i in range(2):
    for j in range(2):
        print(i, j)

In [149]:
mat = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

In [150]:
rows = len(mat)

In [151]:
rows # 0 1 2

3

In [157]:
for row in range(rows):
#     print(mat[row])
    size_at_current_row = len(mat[row])
    print("Row ->",row,end = " Column ->")
    for col in range(size_at_current_row):
        print(col, end = " ")
    print()

Row -> 0 Column ->0 1 2 3
Row -> 1 Column ->0 1 2 3
Row -> 2 Column ->0 1 2 3

In [159]:
for row in range(rows):
    size_at_current_row = len(mat[row])
    for col in range(size_at_current_row):
        print(mat[row][col])

1
2
3
4
5
6
7
8
9
10
11
12

In [161]:
# ADD 2 Matrix

X = [[12,7,3],
     [4,5,6],
     [7,8,9]]

Y = [[5,8,1],
     [6,7,3],
     [4,5,9]]

In [162]:
result = []

In [163]:
# use index for loop

In [171]:
result = [] # 2D

for i in range(len(X)):
    inner_list = []
    for j in range(len(X[i])):
        new_added_value = X[i][j] + Y[i][j]
        inner_list.append(new_added_value)
    print(inner_list)
    result.append(inner_list)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [173]:
print(result) # 2D List

[[17, 15, 4], [10, 12, 9], [11, 13, 18]]

In [174]:
# Doubts

In [176]:
a = 2
b = 3
c = 5
if (a==b _1_ a==c) and b==c:
    print("Test")

SyntaxError: invalid syntax (3595780769.py, line 4)

In [177]:
# Lecture name and ques name

In [178]:
input()

5 4 3 7 8

'5 4 3 7 8'

In [ ]:
List 1

In [ ]:
2D list | with 3x3
3x3 X and Y

In [ ]:
# Strings, Tuples, Sets, Dic

In [ ]:
val = [2,5,7,3,6,6,6,6,6]
max1 = 7

if cur_value > 2nd_max and cur_value<max:

In [179]:
val = [4,6,3,9,8]

In [180]:
val.sort() # slower

In [182]:
val

[3, 4, 6, 8, 9]