In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars',
          'Jupiter', 'Saturn',' Uranus', 'Neptune']

In [2]:
planets[1] = "Pranav Planet"

In [4]:
planets

['Mercury',
 'Pranav Planet',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 ' Uranus',
 'Neptune']

In [5]:
val = [1,2,32,4]

In [6]:
val.append("delkjfbhweiop;jfrgbheijufh")

In [7]:
val

[1, 2, 32, 4, 'delkjfbhweiop;jfrgbheijufh']

In [9]:
x = (1,2,3,4)

In [10]:
print(type(x))

<class 'tuple'>

In [11]:
x[2]

3

In [12]:
planets = ('Mercury', 'Venus', 'Earth', 'Mars',
          'Jupiter', 'Saturn',' Uranus', 'Neptune')

In [13]:
planets[1]

'Venus'

In [14]:
planets[1] = "Pranav Planet"

TypeError: 'tuple' object does not support item assignment

In [15]:
x = (1,2,3)

In [16]:
x.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
# x.remove(4)
# x.pop()
# x.sort()
# x.insert(...)
# x.append(5)

# all above operations not supported

In [18]:
t = ()

In [19]:
print(type(t))

<class 'tuple'>

In [20]:
val = 5
print(type(val))

<class 'int'>

In [21]:
val = (5-3)
print(type(val))

<class 'int'>

In [22]:
val = (5) # math exp with no operators
print(type(val))

<class 'int'>

In [23]:
val = ("5") # math exp with no operators
print(type(val))

<class 'str'>

In [24]:
t = ("Sahil")
type(t)

str

In [25]:
t = ("Sahil",)
type(t)

tuple

In [26]:
l = []
print(type(l))

<class 'list'>

In [27]:
T1 = (1) # int
T2 = (3, 4) # tuple
T1 += 5 # T1 = 6
print(T1)

6

In [28]:
t1 = (1,2)
t2 = (3,4)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4)

In [29]:
t1

(1, 2)

In [30]:
t2

(3, 4)

In [31]:
t3[3]

4

In [32]:
a = (1,2)
print(id(a)) # 1
b = (6,7)
a+=b
print(a)
print(id(a)) # 2

4418353088
(1, 2, 6, 7)
4418374768

In [33]:
val = [1,2,3,4]
print(id(val))

4418261440

In [34]:
val.append(5)
print(val)
print(id(val))

[1, 2, 3, 4, 5]
4418261440

In [36]:
# int is also immutable
a = 5
print(id(a))
a+=6 # 11
print(id(a))

4348323616
4348323808

In [38]:
# float are immutable
a = 5.5
print(id(a))
a+=6.7
print(id(a))

4418014064
4418013840

In [39]:
# add, update, remove not allowed tuple

In [40]:
# slicing

In [41]:
t = (4,5,7,2,3)

In [44]:
t[2:5]

(7, 2, 3)

In [45]:
len(t)

5

In [46]:
max(t)

7

In [47]:
min(t)

2

In [48]:
sum(t)

21

In [49]:
t = ("Pranav", 26, 45.6)

In [50]:
t

('Pranav', 26, 45.6)

In [51]:
t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [53]:
planets = ('Mercury', 'Venus', 'Earth', 'Mars',
          'Jupiter', 'Saturn','Uranus', 'Neptune')

In [52]:
# tuple -> list, add the data in list and convert back to tuple

In [54]:
print(type(planets))
planets = list(planets)
print(type(planets))

<class 'tuple'>
<class 'list'>

In [55]:
planets.append("Pluto")

In [56]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [57]:
print(type(planets))
planets = tuple(planets)
print(type(planets))

<class 'list'>
<class 'tuple'>

In [58]:
for i in planets:
    print(i, end=", ")

Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune, Pluto,

In [59]:
# Doubts

In [63]:
a = (1,2,3,[4,5,6])
print(id(a))

4418491472

In [64]:
a[3].append(7)

In [65]:
print(a)
print(id(a))

(1, 2, 3, [4, 5, 6, 7])
4418491472