In [1]:
s = "harry pOtter"

In [2]:
# output -> "Harry Potter" | title Format

In [3]:
# split into words
# make all words title like that is first capital and rest small
# join

In [4]:
s.title()

'Harry Potter'

In [5]:
help(str.title)

Help on method_descriptor:

title(self, /)
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [6]:
# count

In [11]:
s = "Herry Potter"

In [8]:
s.count("r")

3

In [9]:
s.count("a")

1

In [12]:
s.count("er") # count can take substring

2

In [13]:
s.count("Herry Potter")

1

In [17]:
s.count("p")

0

In [14]:
# Replace

In [15]:
s = "Harry Potter and the Deathly Hallows"

In [16]:
"Pranav".replace("a","x")

'Prxnxv'

In [18]:
s.replace("Ha", "Pa")

'Parry Potter and the Deathly Pallows'

In [19]:
s = "two two one one one three three one"

In [20]:
s.replace("three","3")

'two two one one one 3 3 one'

In [21]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [23]:
s = "two two one one one three three one"
s.replace("one","1",2)

'two two 1 1 one three three one'

In [26]:
s = "two two one one one three three one"
s.replace("one","1",-2) # negative count means all occ

'two two 1 1 1 three three 1'

In [24]:
# Formating

In [27]:
name = 'Sahil'
age = 24

print('Hi my name is', name, 'I am', age, 'years old')

Hi my name is Sahil I am 24 years old

In [31]:
greeting = "Hi, my name is " + name + " I am " + str(age) + " years old"
print(greeting)

Hi, my name is Sahil I am 24 years old

In [32]:
# .Format

In [34]:
name = 'Pranav'
age = 26

s = 'Hi my name is {}. I am {} years old'.format(name, age)
print(s)

Hi my name is Pranav. I am 26 years old

In [35]:
name = 'Pranav'
age = 26

s = 'Hi my name is {}. I am {} years old'.format(age, name)
print(s)

Hi my name is 26. I am Pranav years old

In [37]:
name = 'Pranav'
age = 26

s = 'Hi my name is {}. I am {} years old. I want {} burger'.format(age, name,45)
print(s)

Hi my name is 26. I am Pranav years old. I want 45 burger

In [38]:
name = 'Pranav'
age = 26

s = 'Hi my name is {{}}. I am {} years old. I want {} burger'.format(age, name,45)
print(s)

Hi my name is {}. I am 26 years old. I want Pranav burger

In [39]:
# f-string - Python3.6+

In [41]:
name = 'Pranav'
age = 26

s = f'Hi my name is {name}. I am {age} years old. I want {3*3-67} Pizzas'
print(s)

Hi my name is Pranav. I am 26 years old. I want -58 Pizzas

In [42]:
# immutable

In [43]:
a = "hello"

In [46]:
a = a + " world"

In [47]:
a

'hello world'

In [48]:
a = 5
a+=6
print(a)

11

In [49]:
a = "Pranav"

In [50]:
id(a)

4404034800

In [51]:
a+=" Khandelwal"
print(a)

Pranav Khandelwal

In [52]:
id(a)

4417299360

In [53]:
val = "Scaler"

In [54]:
val[2] = "u"

TypeError: 'str' object does not support item assignment

In [55]:
s = "nxothing"

In [56]:
val = s.upper()

In [57]:
print(s)
print(id(s))
print(val)
print(id(val))

nxothing
4407719856
NXOTHING
4417195568

In [ ]:
# Replace BEHIND THE SCENES
val = "Pranav"
old = "a"
new = "x"

res = "Pr" + "x" + "n" + "x" + "v"
return res

In [58]:
a = "hello"

In [59]:
id(a)

4395800752

In [60]:
b = "hello"

In [61]:
id(b)

4395800752

In [62]:
# Quizzez

In [63]:
# Which one of the following is a palindrome?
# a) radar
# b) level
# c) rahul -> luhar

In [ ]:
# naman -> naman

In [ ]:
# Naman -> namaN

In [64]:
# Quiz 2
l = ["sahil", "bansal"]
print(l[0][-1])

l

In [67]:
# Quiz 3

def mystery(s):
    i = len(s)//2
    a = s[:i]
    b = s[i:]
    return a.upper() + b.lower()

print(mystery("abracadabra"))

ABRACadabra

In [68]:
# Quiz 4
print(ord('Y'))

89

In [69]:
# Quiz 5 
n = ['string1', 'string2']
print("+".join(n)) # string1+string2

string1+string2

In [70]:
# Quiz 6
name = "Emma"
age = 32
print(f"Hey my name is {} and my age is {age}")

SyntaxError: f-string: empty expression not allowed (1441343249.py, line 4)

In [71]:
# Quiz 7
def mystery(s):
    i = len(s)//2 # i = 11//2 -> 5
    a = s[:i] # s[:5] -> abrac
    b = s[i:] # a[5:] -> adabra
    return a[0].isupper() # 'a'.isupper()

print(mystery("abracadabra"))

False

In [72]:
# Quiz 8
def mystery(s):
    i = len(s)//2 # i = 5
    a = s[:i] # s[:5] -> abrac
    b = s[i:] # s[5:] -> adabra
    return a + b # abrac + adabra

print(mystery("abracadabra"))

abracadabra

In [ ]:
# Quiz 9
# Given a string containing url, https, HTTPS, Https etc are 
# all valid addresses, how will you check if given address web is valid?

# https://google.com
# HTTPS://google.com
# Https://google.com

s.lower().startwith("https")

In [73]:
input().split()

1 2 3 4

['1', '2', '3', '4']