In [6]:
a = 15
b = 5

# 1st
if a%b: => 0
    print("Test1")

# 2nd
if a%b==0:
    print("Test2")

Test2

In [12]:
# Make Pizza and Burgers

# Pizza Recipe
print("Need pizza base")
print("Add cheese")
print("Add Mushrooms")
print("Add onion")
print("Pizza is ready")


# Make a Burger
# Burger Recipe
print("Need 2 buns")
print("Add cheese")
print("Add patty")
print("Add Sauces")
print("Burger is ready")

# Make a pizza again

# Pizza Recipe
print("Need pizza base")
print("Add cheese")
print("Add Mushrooms")
print("Add onion")
print("Pizza is ready")

# Make another burger

# Burger Recipe
print("Need 2 buns")
print("Add cheese")
print("Add patty")
print("Add Sauces")
print("Burger is ready")

# Make another burger

# Burger Recipe
print("Need 2 buns")
print("Add cheese")
print("Add patty")
print("Add Sauces")
print("Burger is ready")

Need pizza base
Add cheese
Add Mushrooms
Add onion
Pizza is ready
Need 2 buns
Add cheese
Add patty
Add Sauces
Burger is ready
Need pizza base
Add cheese
Add Mushrooms
Add onion
Pizza is ready
Need 2 buns
Add cheese
Add patty
Add Sauces
Burger is ready
Need 2 buns
Add cheese
Add patty
Add Sauces
Burger is ready

In [8]:
print(10 + 20)

30

In [9]:
print(15 + 25)

40

In [11]:
a = 4
b = 6
print(a+b)

10

In [13]:
def burger_maker():
    print("Need 2 buns")
    print("Add cheese")
    print("Add patty")
    print("Add Sauces")
    print("Burger is ready")
    

def pizza_maker():
    print("Need pizza base")
    print("Add cheese")
    print("Add Mushrooms")
    print("Add onion")
    print("Pizza is ready")
    

# Orders are coming

# Pizza
pizza_maker()
# Burger
burger_maker()
# Pizza
pizza_maker()
# Burger
burger_maker()
# Burger
burger_maker()

Need pizza base
Add cheese
Add Mushrooms
Add onion
Pizza is ready
Need 2 buns
Add cheese
Add patty
Add Sauces
Burger is ready
Need pizza base
Add cheese
Add Mushrooms
Add onion
Pizza is ready
Need 2 buns
Add cheese
Add patty
Add Sauces
Burger is ready
Need 2 buns
Add cheese
Add patty
Add Sauces
Burger is ready

In [17]:
# Scenario A
def hello():
    print("Hi, Pranav")
    
print("Before Function")
hello()
print("After Function")

In [ ]:
print("Before Function")
print("Hi, Pranav")
print("After Function")

In [ ]:
# Scenario B
print("Before Function")
hello()
print("After Function")

def hello():
    print("Hi, Pranav")
    
# This would be an Error but Jupyter is stupid :P

In [ ]:
# Agrument / Parameter Passing

In [27]:
def greet_pranav():
    print("Hi, Pranav")
    
greet_pranav()


def greet_tarun():
    print("Hi, Tarun")

greet_tarun()

def greet_sahil():
    print("Hi, Sahil")
    
greet_sahil()

Hi, Pranav
Hi, Tarun
Hi, Sahil

In [21]:
print("Hi, Pranav")

Hi, Pranav

In [22]:
print("Hi, Sahil")

Hi, Sahil

In [23]:
print("Hi, Tarun")

Hi, Tarun

In [26]:
name = "Tarun"
print("Hi,",name)

Hi, Tarun

In [36]:
# Smart way

def greet(name):
    print("Hi,", name)
    
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [37]:
def greet(name):
    print("Hi,", name)
    
greet("Pranav")

Hi, Pranav

In [40]:
def greet(name):
    print("Hi,", name)
    
greet(1234)

Hi, 1234

In [38]:
name = "Pranav"

In [39]:
name = 1234

In [42]:
def greet(name):
    print(type(name))
    print("Hi,", name)
    
greet("1234")

<class 'str'>
Hi, 1234

In [43]:
# Multiple Arguments

In [45]:
def person(name, age, job, skill):
    print("Name:", name)
    print("Age:", age)
    print("Job:", job)
    print("Skill:", skill)
    print()

person("Pranav", 26, "MTS-2", "Python")

Name: Pranav
Age: 26
Job: MTS-2
Skill: Python

In [46]:
def person(name, age, job, skill):
    print("Name:", name)
    print("Age:", age)
    print("Job:", job)
    print("Skill:", skill)
    print()

person(26,"Pranav", "MTS-2", "Python")

Name: 26
Age: Pranav
Job: MTS-2
Skill: Python

In [47]:
def person(name, age, job, skill):
    print("Name:", name)
    print("Age:", age)
    print("Job:", job)
    print("Skill:", skill)
    print()

person(26,"Pranav", "MTS-2")

TypeError: person() missing 1 required positional argument: 'skill'

In [ ]:
# Default Args

In [49]:
def person(name, age, job, skill="Java"):
    print("Name:", name)
    print("Age:", age)
    print("Job:", job)
    print("Skill:", skill)
    print()

person("Pranav",26, "MTS-2")

Name: Pranav
Age: 26
Job: MTS-2
Skill: Java

In [50]:
def person(name, age, job, skill="Java"):
    print("Name:", name)
    print("Age:", age)
    print("Job:", job)
    print("Skill:", skill)
    print()

person("Pranav",26, "MTS-2","Guitar")

Name: Pranav
Age: 26
Job: MTS-2
Skill: Guitar

In [52]:
def person(name, age, skill="Java", job):
    print("Name:", name)
    print("Age:", age)
    print("Job:", job)
    print("Skill:", skill)
    print()

person("Pranav",26, "MTS-2","Guitar")

SyntaxError: non-default argument follows default argument (99437822.py, line 1)

In [53]:
def person(name, age, skill="Java", job="Just Testing"):
    print("Name:", name)
    print("Age:", age)
    print("Job:", job)
    print("Skill:", skill)
    print()

person("Pranav",26, "MTS-2","Guitar")

Name: Pranav
Age: 26
Job: Guitar
Skill: MTS-2

In [54]:
def person(name, skill="Java", job="Just Testing", age):
    print("Name:", name)
    print("Age:", age)
    print("Job:", job)
    print("Skill:", skill)
    print()

person("Pranav",26, "MTS-2","Guitar")

SyntaxError: non-default argument follows default argument (3079542788.py, line 1)

In [55]:
def sum_values(a,b,c=5):
    print(a+b+c)
    
sum_values(1,5)

11

In [56]:
def sum_values(a,b,c=5):
    print(a+b+c)
    
sum_values(a=1,b=5,c=4)

10

In [58]:
def sum_values(a,b,c=5):
    print("a ->",a)
    print("b ->",b)
    print("c ->",c)
    print(a+b+c)
    
sum_values(b=5,c=4, a=1)

a -> 1
b -> 5
c -> 4
10

In [59]:
def sum_values(a,a,c=5):
    print("a ->",a)
    print("a ->",a)
    print("c ->",c)
    print(a+b+c)
    
sum_values(1,2,3)

SyntaxError: duplicate argument 'a' in function definition (4135079687.py, line 1)

In [60]:
def f(a, b, c=5):
    print('First number (a): ', a)
    print('Second number (b): ', b)
    print('Third number (c): ', c)
    print('The result is: ', 2*a + b - 3*c)

f(3, 2, b=5)

TypeError: f() got multiple values for argument 'b'

In [61]:
def f(a, b, c=5,d=6):
    print('First number (a): ', a)
    print('Second number (b): ', b)
    print('Third number (c): ', c)
    print('The result is: ', 2*a + b - 3*c)

f(3, 2, d=5, c=7)

First number (a):  3
Second number (b):  2
Third number (c):  7
The result is:  -13

In [62]:
# Quiz
def print_date(d, m, y, style=0): # d=30, m=5, y=2022
    if style == 0:  # American
        print(m, '/', d, '/', y) # 5/30/2022
    elif style == 1:  # European
        print(d, '/', m, '/', y)
    else:
        print('Invalid Style')

print_date(30, 5, 2022)

5 / 30 / 2022

In [65]:
print(1,3,4,6, sep=" <> ", end=" This is ending") # sep and end are default args

1 <> 3 <> 4 <> 6 This is ending

In [69]:
def multiply(a, b):
    return a*b
    
result = multiply(3,4)
print("Result ->", result)

Result -> 12

In [70]:
def multiply(a, b):
    return a*b # 20
    
result = multiply(4,5)
print("Result ->", result)

Result -> 20

In [74]:
def testing():
    print("Line 1")
    return 1 # method would return from here and below code will not be executed
    print("Line 2")
    
val = testing()
print(val)

Line 1
1

In [75]:
def testing(): # whole method would run
    print("Line 1")
    print("Line 2")
    
val = testing()
print(val)

Line 1
Line 2
None

In [ ]:
def testing():
    print("Line 1")
    print("Line 2")
    
    
def testing():
    print("Line 1")
    print("Line 2")
    return None

In [78]:
# Scenario A
def hello():
    print("Hi, Pranav") # Returning Nothing->None
    
print("Before Function")
val = hello() # val = None
print(val)
print("After Function")

Before Function
Hi, Pranav
None
After Function

In [84]:
def test(a):
    if a%2==0:
        return "Even"
    
    print("XYZ")
    
    
val = test(5)
print(val)

XYZ
None

In [86]:
def test123():
    print("testing")

In [88]:
# Doc String

def sum_value(a, b):
    """
    Returns the sum of two int numbers in binary digits.
    Parameters:
            a (int): An integer
            b (int): An integer

    Returns:
            sum (int): sum of a and b
    """
    sum_add = a + b
    return sum_add

In [89]:
print("hi")

hi

In [91]:
help(sum_value)

Help on function sum_value in module __main__:

sum_value(a, b)
    Returns the sum of two decimal numbers in binary digits.
    Parameters:
            a (int): A decimal integer
            b (int): Another decimal integer

    Returns:
            sum (int): sum of a and b

In [92]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [94]:
# (a+b)^2
a = 2
b = 3 

# (a+b)^2 = a^2 + 2*a*b + b^2

def multiply(a, b):
    return a*b


result = multiply(a,a) + 2*multiply(a,b) + multiply(b,b)
print(result)

25

In [95]:
# Quiz

def print_max(a, b): # a =3, b =4
    if a > b:
        print(a, 'is maximum')
    elif a == b:
        print(a, 'is equal to', b)
    else:
        print(b, 'is maximum')
        
print_max(3, 4)

4 is maximum

In [96]:
# Doubts

In [97]:
def fun():
    print("a")
    
def fun():
    print("b")
    
fun()

b

In [98]:
x = 7
x = "45"

print(x)

45

In [104]:
def func(a,b,c=""): # a =2, b=3,c=""
    if a==0 and b==3 or c==5:
        return True
    
val = func(2,3)
print(val)

None