In [ ]:
# Recap

In [3]:
# Check if given number is prime
# print "PRIME" or "NOT PRIME" 
n = 9
is_prime = True

for number in range(2,n):
    if n%number==0:
        print("NOT PRIME")
        is_prime = False
        break

if is_prime==True:
    print("PRIME")

NOT PRIME

In [5]:
# Quiz
for i in range(1, 11, 2):
    print(i, end=" ")
    
# Answer is 5

1 3 5 7 9

In [6]:
for i in range(10, -1, -3):
    print(i, end = ',')

10,7,4,1,

In [8]:
print("Step1")
for i in range(1,7,-2):
    print(i, end=" ")
    
print("Step 2")

Step1
Step 2

In [ ]:
# Take input of numbers till you get 5 then stop

In [9]:
# continous input -> Loops
# input -> 5
# break <- skip/exit out of the current loop

In [12]:
while True:
    n = int(input()) # will always take a string
    print("value ->",n)
    if n==5: 
        break

1
value -> 1
4
value -> 4
7
value -> 7
6
value -> 6
5
value -> 5

In [13]:
n = 0
while n!=5:
    n = int(input()) # will always take a string
    print("value ->",n)

6
value -> 6
4
value -> 4
8
value -> 8
5
value -> 5

### Home Work
Write a program that continually asks the user to enter a number until they enter a number 5.

At this point the program should print how many numbers the user has entered.

You may assume the user will only enter numbers.

In [14]:
# Continue

In [15]:
for i in range(1,5):
    if i == 3:
        continue
    print(i, end=" ")

1 2 4

In [17]:
i = 2
while i<=4:
    print(i)
    i+=1
    if i==3:
        continue
    print("test1")
    print("test2")
    print("test3")
    print("----------------")

2
3
test1
test2
test3
----------------
4
test1
test2
test3
----------------

#### Ques1

N = 5

output: *****

N = 3

output: ***

In [25]:
n = int(input())

print(" -- For --")
for i in range(n):
    print("*", end=" ")

print()
print(" -- While --")
    
i = 1
while i<=n:
    print("*", end=" ")
    i+=1

5
 -- For --
* * * * *
 -- While --
* * * * *

In [26]:
# Print Rectangele
# N = 5
# M = 7

OUTPUT
******
******
******
******
******

In [32]:
for i in range(4):
    print("*", end="")

print() # default end="\n"
    
for i in range(4):
    print("*", end="")

print("",end="\n")
    
for i in range(4):
    print("*", end="")

****
****
****

In [31]:
print()
print("",end="\n") # creating a new line

In [39]:
# Better Code
n = 3
m = 4
for j in range(1,n+1): # Outer Loop -> All the rows
#     print("j->",j)
    for i in range(m): # Inner Loop -> Filling the columns left to right
        print("*", end="")
    print()

****
****
****

In [ ]:
N = 5, M = 7
*******
*******
*******
*******
*******

N-> Rows 5 Rows
M-> Columns, 7 Columns

In [40]:
# A
for i in range(4):
    print("*", end=" ")
print()    

# B
for i in range(1,5):
    print("*", end=" ")
print()

* * * *
* * * *

N = 5
*
**
***
****
*****

In [46]:
n = 10

for i in range(1,n+1): # outer loop which will go over each row
    # Some code that will print stars
    for j in range(i): # inner loop
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [50]:
n = 5

for row in range(1,n+1): # outer loop which will go over each row
    # Some code that will print stars
    for col in range(row): # inner loop
        print("*",end="")
    
    if row!=n:
        print()

*
**
***
****
*****

N = 5
*****
****
***
**
*

In [51]:
n = 5

for i in range(1,n+1):
    # Stars
    # n + 1 - i
    for j in range(n+1-i):
        print("*", end="")
    print()

*****
****
***
**
*

In [57]:
for row in range(n,0,-1):
    # inner loop for stars
    for col in range(row,0,-1):
        print("*", end="")
    print()

*****
****
***
**
*

In [55]:
for i in range(5): # 0 1 2 3 4 
    print("*", end=" ")
print()

for i in range(5,0,-1): # 5 4 3 2 1
    print("*", end=" ")
print()

* * * * *
* * * * *

N = 5

----*
---**
--***
-****
*****

In [62]:
n = 8
for i in range(1,n+1):
    # Spaces
    for j in range(n-i):
        print(" ",end="")
    
    # Stars
    for j in range(i):
        print("*",end="")
    
    print()

       *
      **
     ***
    ****
   *****
  ******
 *******
********

Pyramid Pattern
N = 5

----*
---***
--*****
-*******
*********

In [68]:
n = 5
for row in range(1,n+1):
    # Space
    for col in range(n-row):
        print(" ",end="")
    
    stars = 2*row - 1
    # Stars
    for col in range(stars):
        print("*",end="")
    
    print()

    *
   ***
  *****
 *******
*********

Given N = 5, print the following pattern

********** // 0 spaces
****__**** // 2 spaces
***____*** // 4 spaces
**______** // 6 spaces
*________* // 8 spaces

In [71]:
n = 10

for i in range(1,n+1):
    # Star1
    for j in range(n-i+1):
        print("*",end="")
        
    # Space
    space = 2*i - 2
    for j in range(space):
        print(" ",end="")
        
    # Star2
    for j in range(n-i+1):
        print("*",end="")
    
    print()

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *

## HomeWork

Given N = 5, print the following pattern

*________* // 8 spaces
**______** // 6 spaces
***____*** // 4 spaces
****__**** // 2 spaces
********** // 0 spaces

In [ ]:
# For loop can be used for Fixed condition
# While loop for dynamic conditions

In [75]:
for a in range(10,12,-1):
    if a%2==0:
        continue
else:
    print("Testing")
print(a)

Testing
9

In [78]:
while False:
    print ("yes")
else:
    print ("no")

no

In [80]:
t = int(input())

while t>0:
    # code for solution
    n = int(input())
    sum_of_num = 0
    while n>0:
        rem = n%10 # 453%10 = 3 | 45%10 -> 5
        sum_of_num+=rem
        n = n//10 # 453//10 -> 45 | 45//10 -> 4
        
    print("Sum of number is", sum_of_num)
    t-=1

2
231
Sum of number is 6
345
Sum of number is 12